.container.experiences{
    font-size: 14px;
    background: #af673dd0;
    text-align: center;
    padding: 30px;
    border-radius: 10px;
    transition: all 300ms linear;
    margin-top: 40px;
    backdrop-filter: blur(3px);
}

.card.experience{
    color: black;
    width: auto;
    background-color: #c49071;
    padding: 15px;
    margin: 20px;
}
.card.experience img{
    max-width: 200px;
}

.container .experience-details{
    width: 100%;
}

.card-body > *{
    flex: 1;
}

@media (max-width:770px) {
   .card-body{
        flex-direction: column;
    }
}

@media (max-width:400px) {
    .container.experiences{
        width: auto;
        padding: 20px 10px;
    }
    .card.experience{
        margin: 5px 10px !important;
    }
    .card-body{
        padding: 0 !important;
    }
    .container.experiences .experiences-title p{
        margin:0 0 10px 13px !important;
    }
}

@media (max-width:600px) {
    .container.experiences{
        margin:10px 5px !important;
        width: auto;
    }
}