body{
  font-family:'Comfortaa' !important;
  box-sizing: border-box;
  background-color: #ca9474 !important;
  scroll-behavior: smooth;
}
#root{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

*{
  outline: none;
}